::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: none;
}

body, input {
  font-size: 12px;
  font-family: sans-serif;
  line-height: 1.25;
}

body {
  margin: 0;
  padding: 0;
  width: 400px;
}
